body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .dashboard {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    background-color: #f1f1f1;
    padding: 20px;
    min-width: 200px; 
  }
  
  .content {
    padding: 20px;
    flex: 1; 
  }
  
  .list-item {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .list-item:hover {
    background-color: #ddd; 
  }
  

  input[type="text"],
  input[type="number"] {
    width: 500px;
    margin-bottom: 10px;
    padding: 5px;
  }
 
  button {
    padding: 10px 20px;
    background-color: #cb92f7;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6946dc;
  }
  